[Unit]
Description=SmaBot Edge API
Documentation=https://wildybytes.com
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/program/SmaBot/Server
ExecStart=/bin/bash start-edge
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
